<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./01.css">
    <link rel="shortcut icon" href="code.ico" type="image/x-icon">
    <title>Project 01: Expanding Cards</title>
</head>

<body>
    <header>
        <h1>Photo Gallery</h1>
    </header>

    <div class="container">
        <div class="panel" style="background-image: url('./media/2013.JPG')">
            <h3>2013 <br> <span>Praia, Ipojuca - PE.</span></h3>
        </div>
        <div class="panel" style="background-image: url('./media/2014.JPG')">
            <h3>2014<br><span>Banco do Brasil, Assis - SP.</span></h3>
        </div>
        <div class="panel" style="background-image: url('./media/2015.JPG')">
            <h3>2015<br><span>Praça, Curitiba - PR.</span></h3>
        </div>
        <div class="panel" style="background-image: url('./media/2016.JPG')">
            <h3>2016<br><span>Bicicleta, Curitiba - PR.</span></h3>
        </div>
        <div class="panel" style="background-image: url('./media/2017.JPG')">
            <h3>2017<br><span>Centro da Cidade, Curitiba - PR.</span></h3>
        </div>
        <div class="panel" style="background-image: url('./media/2018.jpg')">
            <h3>2018<br><span>WTC Transit Hub, New York - NY.</span></h3>
        </div>
        <div class="panel" style="background-image: url('./media/2019.jpg')">
            <h3>2019<br><span>Janela, Curitiba - PR.</span></h3>
        </div>
        <div class="panel" style="background-image: url('./media/2020.jpg')">
            <h3>2020<br><span>Cruzamento, Curitiba - PR.</span></h3>
        </div>
    </div>
    <script src="./01.js"></script>

</body>

</html>