@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@media only screen and (max-height: 200px) {
    body {
        background-color: transparent;
    }

    h1 {
        background-color: #282d33;
        border-radius: 2px;
        font-size: 4px;
        border: none;
        color: #282d33;
        width: 60%;
        margin-left: 20%;
    }



    .color-picker-container * {
        display: none;
    }

    .circle,
    .circle.active {
        height: 30px;
        width: 30px;
        font-size: 0px;
    }



    .btn {
        height: 3%;
        font-size: 0px;
    }

    :root {
        --line-border-fill: #282d33;
        --line-border-empty: #e0e0e0;
        --btn-bg-color: #e0e0e0;
        --text-color: black;
        --bg-color: white;
        --btn-text-color: white;

    }

    main {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .container {
        margin-top: 10%;
        align-items: center;
    }

    .progress-container {
        width: 60vw;
    }


}